@{
    Page.Title = "IDLake - Data Migration";
    Layout = "/pages/shared/_main.cshtml";
}
<div data-role="page" id="menumigration">
    <div data-role="header">

        <a href="~/pages/members/front/"  class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
        <h1>Indonesia Data Lake - Migrasi Data</h1>
        <a href="~/pages/members/search/" class="ui-btn ui-icon-search ui-btn-icon-left">Search</a>
    </div>

    <div data-role="main" class="ui-content">

        <h3>Pilih jenis migrasi data.</h3>
        <ul data-role="listview">
            <li><a  href="~/pages/members/importpage/">Import Data ke Sistem</a></li>
            <li><a  href="~/pages/members/exportpage/">Export Data ke File (CSV, JSON, XML)</a></li>
        </ul>
    </div>

    <div data-role="footer" data-fullscreen="true" data-position="fixed">
        <h1>Copyright (C) Gravicode</h1>
    </div>


</div>

