@{
    Page.Title = "IDLake - Select Schema";
    Layout = "/pages/shared/_main.cshtml";
}

<div data-role="page" id="selectschema">
    <div data-role="header">

        <a href="~/pages/members/Front/" class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
        <h1>Indonesia Data Lake - Bikin Schema Baru</h1>
        <a href="~/pages/members/search/" class="ui-btn ui-icon-search ui-btn-icon-left">Search</a>
    </div>
    <div class="ui-corner-all custom-corners" style="margin-top:10px;">
        <div class="ui-bar ui-bar-a">
            <h3>Create Schema</h3>
        </div>
        <div class="ui-body ui-body-a">
            <a href="~/pages/members/FormDesigner/" class="ui-btn">Bikin Schema Dengan Form Designer</a>
            <a href="~/pages/members/ImportSchema/" class="ui-btn">Bikin Schema Dengan Template File (CSV, JSON, XML)</a>
        </div>
    </div>
  

    <div data-role="footer" data-fullscreen="true" data-position="fixed">
        <h1>Copyright (C) Gravicode</h1>
    </div>


</div>
